/.idea/
node_modules
.DS_Store
*.bak
*.gpt
*.cld
*.project
*.classpath
.settings/
.vscode/
.claude/
build/
release/
debug/
cmake-build-debug/
cmake-build-release/
cmake-build-tests/
depends/
depends.bak/
src/others/
