【路口形态生成总体需求】 
1.端点G1连续：首点和尾点必须满足G1连续，曲线自身平滑不许有大拐角弯折，曲线自身不能自相交; 
2.线簇需按逻辑排序：根据进入退出连接关系通过计算空间方位对同入或同出的曲线进行进行逻辑上排序,逻辑上同一进入或退出连接点上的线簇由内到外线序会按左调->左转->直行->右转->右调排序后不相交(除非连接关系存在逻辑冲突必须交叉场景除外)，同进入组或同退出组从内到外将所有线簇组排序后逻辑上也不会能相交(除非连接关系存在逻辑冲突必须交叉场景除外)，同时需要保证同线簇中相同转向类型的多条曲线也要有序排列。排序时转向信息优先按方位计算为准而不要强依赖输入数据中的ConnTurnType输入信息数据中转向类型不一定准确。
3.同簇线组非交约束：同进入点(组)线簇和同退出点(组)线簇必须满足除端点外不能存在其他任何相交，除非实际连接关系本身存在逻辑上冲突必须交叉的曲线除外。
4.高优避障且满足同簇线组非交约束：同时考虑避障与同簇非交约束相互制约影响, 如有障碍必须优先避障不能穿障，然后要满足同族线组非交约束需求(除逻辑存在冲突必须交叉特殊场景外)
5.曲线生成顺序：优先直行作为基准生成，分别向两侧按上述已排好的线序逐一生成，如左(右)存在相交的分别向左(向右)侧调整左转(右转)、左掉头(右掉头),保证曲线优先避障后按先前排好的线序列有规律的生成防止交叉出现
6.车道边线生成：根据进入、退出车道的左右车道边线共享状态决定路口内连续车道按共享边线生成一根共享边线还是按非连续独立车道单独生成左右边线，边线生成是需根据进入退出车道宽度插值生成平滑曲线且要保证与连接的车道边线的端点保持G1连续
7.精细路口面生成：根据道路边缘，车道端点(车道边线端点)围成的可内凹的精细路口面多边形。

【路口曲线生成:必须同时考虑各种约束间相互影响和制约不能单一处理】
(1)同簇非端点不能相交约束:进入端和退出端均需保持同簇排序正确性;除特殊可豁免外不能存在相交:连接关系存在逻辑交叉时可豁免,为保证左转形态同簇同连接点的调头与左转时可豁免;
(2)曲线形态约束:端点G1连续约束;不能自相交;
(3)曲线避让约束:不能穿行障碍物需做避障;不能穿行道路边缘;不能超出粗略面约束;
(4)掉头约束:调头形态需构建类似直行段(可选)+近似掉头圆弧段+直行段(可选)的贝塞尔曲线表达,在首尾直行段平齐位置构建弧段约束;如果人行横道附近调头需首尾直行段都跨越人行横道后才能构建弧段约束;
(5)固定形态不变约束:通常路口内已有待转、转向线等特殊已经固定的线需要直接复用形态不能改变(需解决与其他同簇线相交约束);
